# Configuration files
/config/*.json

# Vagrant temp data
.vagrant

# Ansible screwup data
provision/playbook.retry

# Composer installed libraries
/vendor
/webroots/static/components
composer.lock

# The following sections match platform and language specific junk files that Github recommends to ignore

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~
.directory
.Trash-*
