RedirectMatch 404 /\.git
RedirectMatch 404 /\.vagrant
#RedirectMatch 404 /vendor
<Files Vagrantfile>
    order allow,deny
    deny from all
</Files>
<Files *.ini*>
    order allow,deny
    deny from all
</Files>
<Files composer.*>
    order allow,deny
    deny from all
</Files>
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
Options -Indexes
<FilesMatch "\.(html|htm|php)$">
    Header add cache-control no-cache
    Header add Expires -1
</FilesMatch>
<FilesMatch "\.(js|css|jpg|gif|png)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
	Header append Cache-Control "public"
</FilesMatch>